<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @page.title %></h3>
  </div>
  <div class="panel-body">
    <%= @page.content %>
  </div>
</div>

<%= render_widget(:comments, :display, :commentable => @page) %>

<%= render partial: 'sites/comments/form', locals: { commentable: @page } %>
