<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @page.title %></h3>
  </div>
  <div class="panel-body">
    <%= @page.content %>
  </div>
</div>

<div class="panel panel-default">
  <ul class="list-group">
    <%= render @page.comments %>
  </ul>
</div>

<%= render partial: 'sites/comments/form', locals: { commentable: @page } %>
