<div class="panel panel-default">
  <div class="panel-heading">Categories</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>Name</th>
        <th width="80">Actions</th>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>
