<div class="panel panel-default">
  <div class="panel-heading">
    文章列表
  </div>
  <table class="table table-hover">
    <tbody>
      <%= content_tag_for :tr, @posts do |post| %>
        <td><%= link_to post.title, [@site, post] %></td>
      <% end %>
    </tbody>
  </table>
</div>
