<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= @post.title %></h3>
  </div>
  <div class="panel-body">
    <%= @post.content %>
  </div>
</div>

<div class="panel panel-default">
  <%= render @post.comments %>
</div>

<%= render partial: 'sites/comments/form', locals: { commentable: @post } %>
