<div class="panel panel-default">
  <div class="panel-heading">
    页面列表
  </div>
  <table class="table table-hover">
    <tbody>
      <%= content_tag_for :tr, @pages do |page| %>
        <td><%= link_to page.title, [:edit, @site, :settings, page] %></td>
      <% end %>
    </tbody>
  </table>
</div>
