<div class="panel panel-default">
  <div class="panel-heading">
    页面列表
  </div>
  <div class="panel-body">
    <%= div_for @pages do |page| %>
      <li><%= link_to page.title, [@site, page] %></li>
    <% end %>
  </div>
</div>
