<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <%= content_tag_for :tr, @sites do |site| %>
      <td><%= site.name %></td>
      <td><%= site.title %></td>
    <% end %>
  </tbody>
</table>
